<!DOCTYPE html>
<html lang="en" ng-app="Ctrl-App">
<head>
    <meta charset="UTF-8">
    <title>Controller Functions/Scopes</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
</head>
<body>
<div ng-controller="OpController">
    <h1>Counter: {{counter}}</h1>
    <button ng-click="add(1)" class="button">Add One</button>
    <button ng-click="subtract(1)" class="button alert">Subtract One</button>
</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>